.roundedCorners(@radius: 100%){
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;

}
button{
    margin-left: 10px;
}
.circle{
    .roundedCorners();
    background-color: purple;
}
.control{
    display: block;
    margin: 15px;
}
h3{
    padding-left: 10px;
    border: 1px solid black;
}
input{
    margin-left: 10px;
    width: 70px;
}
label{
    display: inline-block;
    width: 90px;
}
#infoBar{
    width: 40%;
    height: 600px;
    border: 1px solid black;
    display: inline-block;
    background-color: tomato;
    font-size: 14px;
}
#pad{
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    float: left;
    background-color: lightskyblue;
}
.wrapper{
    display: block;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.shape{
    position: absolute;
}
span{
    float: right;
    margin-right: 25px;
}
.triangle{
	width: 0;
	height: 0;
	border-top: 50px solid red;
    border-right: 50px solid transparent;
    float: left;
}
h4 {
    font-size: 16px;
}